
.chooseUs.swiper {
  width: 250px;
  height: 400px;
}

.chooseUs .swiper-slide {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}
